<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>king7stark</title>
  <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
   <!--
       <form class="form-signin" method="POST" action="/usuario/login" >     
        <h4 class="form-signin-heading">Iniciar Sesión</h4>
        <input type="text" class="form-control" placeholder="Usuario" required autofocus id="username" name="username">
        <input type="password" class="form-control" placeholder="Password" required  id="password" name="password" required="required">
        <button class="btn btn-lg btn-primary btn-block" onclick='iniciarSesion();'>Ingresar</button>
        <div class="update"></div>       
    </form>
    -->

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form method="POST" action="/usuario/login">
      <div class="input-container">
        <input type="text" id="username" name="username" required="required"/>
        <label for="username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="password" name="password" required="required"/>
        <label for="password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Go</span></button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
  </div>
  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">Register
      <div class="close"></div>
    </h1>
    <form method="POST" action="/usuario/registro">
      <div class="input-container">
        <input type="text" name="username" id="username" required="required"/>
        <label for="username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" name="password" id="password" required="required"/>
        <label for="password">Password</label>
        <div class="bar"></div>
      </div>
   
      <div class="input-container">
        <input type="text" name="nombre" id="nombre" required="required"/>
        <label for="nombre">Nombre</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" name="apellido" id="apellido" required="required"/>
        <label for="apellido">Apellido</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Next</span></button>
      </div>
    </form>
  </div>
</div>


  <script src='js/jquery.min.js'></script>
  <script src="js/jquery-ui.js"></script>
    <script src="js/index.js"></script>

</body>
</html>
